<div data-parent="true" class="event">
    <div contenteditable="true" data-propname="start" data-save="true" class="time">{{start}}</div>
    <div data-propname="name" data-save="true" class="name">{{name}}</div>
    <div contenteditable="true" data-propname="duration" data-save="true" class="duration">{{duration}}</div>
    <div data-propname="programm_id" data-save="true" style="visibility: hidden;">{{programm_id}}</div>
    <a href="#">Удалить</a>
</div>