<div data-parent="true" class="event">
    <div data-propname="start" data-save="true" class="time">{{start}}</div>
    <div data-propname="name" data-save="true" class="name">{{name}}</div>
    <div data-propname="duration" data-save="true" class="duration">{{duration}}</div>
</div>