<table>
    <tr><td></td><td>ПН</td><td>ВТ</td><td>СР</td><td>ЧТ</td><td>ПТ</td><td>СБ</td><td>ВС</td></tr>
    {{#events}}
    <tr>
        <td>{{time}}</td>
        <td class="mo">
            {{#mo}}
                {{> event}}
            {{/mo}}
        </td>
        <td class="tu">
            {{#tu}}
                {{> event}}
            {{/tu}}
        </td>
        <td class="we">
            {{#we}}
                {{> event}}
            {{/we}}
        </td>
        <td class="th">
            {{#th}}
                {{> event}}
            {{/th}}
        </td>
        <td class="fr">
            {{#fr}}
                {{> event}}
            {{/fr}}
        </td>
        <td class="sat">
            {{#sat}}
                {{> event}}
            {{/sat}}
        </td>
        <td class="san">
            {{#san}}
                {{> event}}
            {{/san}}
        </td>
    </tr>
    {{/events}}
</table>